body {
  margin: 0;
  padding: 0;

  font: small/1.4 sans-serif;
  color: #222;
  background: #fff
}

h1 {
  margin: 0;
  font-size: 2em;
  background: dodgerBlue;
  color: #fff;
  padding: 10px 30px;
  font-weight: normal;
}

table {
  width: 100%;
}

table th,
table td {
  padding: 20px 30px;
}

table th {
  text-align: left;
  color: #ccc;
  font-weight: normal;
  font-size: 2em;
}

table td {
  font-size: 3em;
  border-bottom: 1px solid #ccc;
}

table td.name a {
  text-decoration: none;
  color: #222;
}

table td.time {
  font-size: 2em;
  color: #888;
}

table th.commits,
table th.merges,
table td.commits,
table td.merges {
  text-align: center;
}

table tr.good {
  display: none;
}

table tr.unknown td.commits,
table tr.unknown td.merges {
  color: orange;
}

table tr.very-stale td.time {
  color: red;
}
