body {
  margin: 0;
  padding: 0;

  font: small/1.4 sans-serif;
  color: #fff;
  font-family: ntatabularnumbers, nta, sans-serif;
  background:black;
}

h1 {
  margin: 0;
  font-size: 2em;
  background: #2E8ACA;
  color: #fff;
  padding: 10px 30px;
  font-weight: normal;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 5px 30px;
  border-bottom: 10px solid #000;
}

table th {
  text-align: left;
  color: #6F777B;
  font-weight: normal;
  font-size: 2em;
}

table td {
  font-size: 2.5em;
}

table td.name a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  white-space: nowrap;
}

table td.time {
  font-size: 2em;
  color: #6F777B;
}

table th.commits,
table th.merges,
table td.commits,
table td.merges {
  text-align: center;
}

table tr.unknown td.commits,
table tr.unknown td.merges {
  color: orange;
}

table tr.good td.time {
  color: #fff;
  background-color: green;
}

table tr.very-stale td.time {
  color: #fff;
  background-color: #BF1E2D;
}

body.april-fools {
  transform: scaleX(-1);
}
