body {
  margin: 0;
  padding: 0;

  font: medium/1.4 sans-serif;
  color: #222;
  background: #fff
}

h1 {
  margin: 0;
  font-size: 1.8em;
  color: #fff;
  padding: .6em;
  font-weight: normal;
}

h2{
  font-size: 1.2em;
  padding:.5em 1em;
  font-weight: normal;
}

h2 span{
  background:white;
  padding: .1em .3em
}

table {
  width: 100%;
  margin:1.5em 1em;
}

th {
  color: #ccc;
  font-weight: normal;
  font-size: 2em;
  text-align: left;
}

td {
  font-size: 2em;
  padding:1em 0;
  border-bottom: 1px solid #ccc;
}



.name a {
  text-decoration: none;
  color: #222;
}

.time {
  font-size: 2em;
  color: #888;
}

.good{
  color: green;
}

.stale {
  color: red;
}

.unknown {
  color: orange;
}

.strap{
  background: #4eeab0;
  width: 100%;
  display: block;
  clear: both;
  float: left;
}
.left {
  float: left;
}
