body {
  margin: 0;
  padding: 0;

  font: medium/1.4 sans-serif;
  color: #222;
  background: #fff
}

h1 {
  margin: 0;
  font-size: 3vw;
  background: dodgerBlue;
  color: #fff;
  padding: 1vw 4vw;
  font-weight: normal;
}

table {
  width: 100%;
}

table th {
  text-align: left;
  padding: 2vw 4vw 0;
  color: #ccc;
  font-weight: normal;
  font-size: 2vw;
}

table td {
  font-size: 4vw;
  padding: 2vw 4vw;
  border-bottom: 1px solid #ccc;
}

table td.name a {
  text-decoration: none;
  color: #222;
}

table td.time {
  font-size: 3vw;
  color: #888;
}

table td.commits,
table td.merges {
  text-align: center;
}

table tr.good td.commits,
table tr.good td.merges {
  color: green;
}

table tr.stale td.commits,
table tr.stale td.merges, {
  color: red;
}

table tr.unknown td.commits,
table tr.unknown td.merges {
  color: orange;
}
